SUI_DB_DIR=/usr/local/s-ui/db
CHECK_INTERVAL=60
TZ=Asia/Shanghai
RESET_ADMIN_USER=admin
RESET_ADMIN_PASSWORD=please-change-this-password
RESET_WEB_BIND=127.0.0.1:8787
RESET_SESSION_TTL=604800
RESET_LOGIN_MAX_ATTEMPTS=8
RESET_LOGIN_WINDOW=600
RESET_COOKIE_SECURE=0
SUI_TRAFFIC_RESET_VERSION=latest
